
.banner {
  width: 145px;
  height: 48px;
  border: none;
  background-color: transparent;
  border-radius: $b-radius;
  font-size: $fs-button;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3),
      0 10px 10px rgba(0, 0, 0, 0);
    transform: scale(1.04) translateY(-2px);
  }
}
$color_1: aliceblue;
$color_2: #fff;
$font-family_1: '-OC Rey';
$background-color_1: #111;
$background-color_2: #656CFF;

.main_con65 {
  width: 100%;
  float: left;
  height: auto;
  background-color: $background-color_1;
}
.main_con66 {
  width: 78%;
  height: auto;
  padding: 0px 111px;
  display: inline-block;
}
.main_con67 {
  width: 35%;
  height: auto;
  float: left;
  padding: 74px 0px;
  h2 {
    font-size: 40px;
    color: $color_1;
    font-family: $font-family_1;
    line-height: 50px;
  }
  p {
    font-size: 18px;
    color: $color_1;
  }
  button {
    background-color: $background-color_2;
    border-radius: 135px;
    padding: 8px 32px;
    color: $color_2;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
  }
}
.main_con69 {
  width: 65%;
  height: auto;
  float: right;
  padding-top: 28px;
  img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width:480px) {
  .main_con66 {
    width: auto;
    padding: 0px 20px;
  }
  .main_con69 {
    width: 100%;
  }
  .main_con67 {
    width: 100%;
    padding: 0px;
    h2 {
      font-size: 33px;
      line-height: 40px;
    }
    p {
      font-size: 17px;
      margin: 28px 0px;
      line-height: 25px;
    }
    button {
      border-radius: 23px;
      font-size: 13px;
      margin: 0px auto;
      line-height: 26px;
      display: table;
    }
  }
}
@media only screen and (max-width:676px) {
  .main_con66 {
    width: auto;
    padding: 0px 20px;
  }
  .main_con69 {
    width: 100%;
  }
  .main_con67 {
    width: 100%;
    padding: 0px;
    h2 {
      font-size: 33px;
      line-height: 40px;
    }
    p {
      font-size: 17px;
      margin: 28px 0px;
      line-height: 25px;
    }
    button {
      border-radius: 23px;
      font-size: 13px;
      margin: 0px auto;
      line-height: 26px;
      display: table;
    }
  }
}
